html {
  background-color: black;
  overflow: hidden;
  font-size: 10px;
}

body {
  font-size: x-large;
  font-family: courier new, monospace;
  color: #1ce300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

svg {
  width: 15rem;
  height: auto; /* mantiene proporción */
}


.titulo {
  display: none;
  font-size: 2rem;
}

/* Ocultar todos los paths inicialmente */
svg path {
  display: none;
}

/* Mostrar solo el boton */
#boton path {
  cursor: pointer;
  display: inline;
  transform-origin: center;
  animation: latido 1s ease-in-out infinite;
}

@keyframes latido {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

#boton #boton_fondo:hover {
  fill: black; /* color al hacer hover */
  stroke-width: 0.2;
  stroke: white;
}

#boton #boton_fondo:hover ~ #boton_letras path{
  fill: white;
}
